In [2]:
4 ==4

True

In [3]:
'4' == '4'

True

In [4]:
4 == '4'

False

In [5]:
num1 = 100
num2 = 200

In [10]:
print(f"{num1 == num2 = }")
print(f"{num1 is num2= }")
print(f"{id(num1)=}\t{id(num2)= }")

num1 == num2 = False
num1 is num2= False
id(num1)=98365158704136	id(num2)= 98365158707336

In [11]:
num1= 200

In [12]:
print(f"{num1=}")
print(f"{num2=}")
print(f"{num1 == num2=}")
print(f"{num1 is num2=}")
print(f"{id(num1)=}\t{id(num2)=}")

num1=200
num2=200
num1 == num2=True
num1 is num2=True
id(num1)=98365158707336	id(num2)=98365158707336

In [13]:
num3 = 300

In [14]:
num4 = 300

In [15]:
print(f"{num3=}\t {num4=}")
print(f"{num3 == num4=}")
print(f"{num3 is num4=}")
print(f"{id(num3)=}\t {id(num4)=}")

num3=300	 num4=300
num3 == num4=True
num3 is num4=False
id(num3)=125949318281616	 id(num4)=125949318282320

In [16]:
num3 = 300.33
num4 = 300.33
print(f"{num3=} \t {num4=}")
print(f"{num3 == num4=}")
print(f"{num3 is num4=}")
print(f"{id(num3)=}\t {id(num4)=}")

num3=300.33 	 num4=300.33
num3 == num4=True
num3 is num4=False
id(num3)=125949400497936	 id(num4)=125949402576656

In [17]:
num3 = 12.33
num4 = 12.33
print(f"{num3=} \t {num4=}")
print(f"{num3 == num4=}")
print(f"{num3 is num4=}")
print(f"{id(num3)=}\t {id(num4)=}")

num3=12.33 	 num4=12.33
num3 == num4=True
num3 is num4=False
id(num3)=125949402575056	 id(num4)=125949318273520

In [18]:
num3 = [1, 2, 3] # mutable
num4 = [1, 2, 3]
print(f"{num3=} \t {num4=}")
print(f"{num3 == num4=}")
print(f"{num3 is num4=}")
print(f"{id(num3)=}\t{id(num4)=}")

num3=[1, 2, 3] 	 num4=[1, 2, 3]
num3 == num4=True
num3 is num4=False
id(num3)=125949317378112	id(num4)=125949317504384

In [19]:
num3 = (1, 2, 3)
# immutable

print(f"{num3=} \t {num4=}")
print(f"{num3 == num4=}")
print(f"{num3 is num4=}")
print(f"{id(num3)=}\t {id(num4) =}")

num4 = (1, 2, 3)

num3=(1, 2, 3) 	 num4=[1, 2, 3]
num3 == num4=False
num3 is num4=False
id(num3)=125949317128256	 id(num4) =125949317504384